
#navbar {
    background-image: linear-gradient(260deg, orange 0%, orange 100%);
    overflow: hidden;
    position: relative;
    margin-top: 65px;
    margin-left: -10px;
    margin-right: -8px;
    border: 0;
    padding: 90px;
}

#navbar.hidden {
    display: none;
}

#nav2 {
    display: none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 550px;
    height: 300px;
    color: rgb(251, 251, 255);
    background-color: rgb(5, 2, 39);
    border-radius: 20px;
    text-align: center;
}

#nav2.active {
    display: flex;
}

#nav3 {
    display: none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 550px;
    height: 300px;
    color: aliceblue;
    background-color: rgb(5, 2, 39);
    border-radius: 20px;
    text-align: center;
}

#nav3 span  {
    margin-top: 20px;
}

#nav3.active {
    display: flex;
}

#nv1, #nv2, #nv3 {
    flex-direction: column;
    background-color: rgb(5, 2, 39);
    color: aliceblue;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 550px;
    height: 165px;
    border-radius: 20px;
}

#nv1 {
    margin-top: 200px;
}

#nv3 {
    margin-bottom: 5px;
}

#back-to-top {
    margin-bottom: 50px;
    margin-left: 1250px;
    border-radius: 20px;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(236, 207, 112);
  }

  #back-to-top:hover {
    background-color: rgba(5, 2, 39, 0.753);
  }

  #back-to-top.hidden {
    display: none;
  }

#nav4.hidden {
    display: none;
}

#nav4 h1 {
    color: orange;
    text-align: center;
}

#mostrar {
    margin-left: 530px;
    margin-top: 0px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bolder;
}

#navbar button {
    margin-left: 70px;
    margin-right: 5px;
    height: 40px;
    width: 280px;
    border: none;
    color: white;
    background-color: rgb(2, 51, 88);
    line-height: 30px;
}

#navbar img {
    width: 200px;
    height: 200px;
    margin-left: 960px;
    margin-top: -400px;
}

nav{
    overflow: hidden;
    position: fixed;
     top: 0;
    margin-left: -10px;
    margin: 270px auto 15;
    width: 1370px;
    height: 65px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    background-color: antiquewhite;
}

nav #quiz {
    color: rgb(238, 144, 20);
    font-weight: bold;
    text-shadow: 10px;
    font-family: monospace;
}

nav #inicio {
    margin-left: 400px;
    margin-top: 2px;
}

nav #entrar {
    margin-left: 20px;
    margin-right: -20px;
    height: 35px;
    width: 90px;
    border: none;
    color: white;
    background-color: orange;
    margin-bottom: 80px;
}

nav #criaconta {
    margin-left: 100px;
    margin-right: -5px;
    height: 35px;
    width: 110px;
    border: none;
    color: white;
    background-color: rgb(2, 51, 88);
    line-height: 30px;
}

nav a{
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(15, 15, 15);
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}


h1, h3 {
    text-align: left;
    margin-top: -30px;
}

h3 {
    color: rgb(24, 23, 23);
    font-weight: lighter;
}

button {
    transition: 0.3s all;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.3);
}

#categ {
    background-color: rgb(5, 2, 39);
    color: orange;
    width: 250px;
    height: 330px;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0px 0px 3px black;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 200px;
    margin-left: 550px;
    text-align: center;
    display: none;
}

#categ.active {
    display: flex;
    flex-direction: column;
}

#categ #item {
    cursor: pointer;
    width: 250px;
    padding: 15px 25px;
    box-sizing: border-box;
    transition: 0.3s all;
}

#item:hover {
    background-color: rgb(201, 132, 5);
}


#categ a {
    margin-bottom: 50px;
    margin-top: 100px;
    margin-left: auto;
    font-weight: bolder;
    text-decoration: overline;
    color: rgb(5, 2, 39);
}

